In [1]:

import numpy as np 
import matplotlib.pyplot as plt
import pandas as pd

In [2]:
dataset = pd.read_csv("/kaggle/input/practice-dataset01/Data.csv")

In [3]:
dataset

/usr/local/lib/python3.10/dist-packages/pandas/io/formats/format.py:1458: RuntimeWarning: invalid value encountered in greater
  has_large_values = (abs_vals > 1e6).any()
/usr/local/lib/python3.10/dist-packages/pandas/io/formats/format.py:1459: RuntimeWarning: invalid value encountered in less
  has_small_values = ((abs_vals < 10 ** (-self.digits)) & (abs_vals > 0)).any()
/usr/local/lib/python3.10/dist-packages/pandas/io/formats/format.py:1459: RuntimeWarning: invalid value encountered in greater
  has_small_values = ((abs_vals < 10 ** (-self.digits)) & (abs_vals > 0)).any()

   Country   Age   Salary Purchased
0   France  44.0  72000.0        No
1    Spain  27.0  48000.0       Yes
2  Germany  30.0  54000.0        No
3    Spain  38.0  61000.0        No
4  Germany  40.0      NaN       Yes
5   France  35.0  58000.0       Yes
6   France  48.0  79000.0       Yes
7  Germany  50.0  83000.0        No
8   France   NaN  67000.0       Yes

In [4]:
dataset.describe()

             Age        Salary
count   8.000000      8.000000
mean   39.000000  65250.000000
std     8.194075  12232.859729
min    27.000000  48000.000000
25%    33.750000  57000.000000
50%    39.000000  64000.000000
75%    45.000000  73750.000000
max    50.000000  83000.000000

In [5]:
dataset.head()

/usr/local/lib/python3.10/dist-packages/pandas/io/formats/format.py:1458: RuntimeWarning: invalid value encountered in greater
  has_large_values = (abs_vals > 1e6).any()
/usr/local/lib/python3.10/dist-packages/pandas/io/formats/format.py:1459: RuntimeWarning: invalid value encountered in less
  has_small_values = ((abs_vals < 10 ** (-self.digits)) & (abs_vals > 0)).any()
/usr/local/lib/python3.10/dist-packages/pandas/io/formats/format.py:1459: RuntimeWarning: invalid value encountered in greater
  has_small_values = ((abs_vals < 10 ** (-self.digits)) & (abs_vals > 0)).any()

   Country   Age   Salary Purchased
0   France  44.0  72000.0        No
1    Spain  27.0  48000.0       Yes
2  Germany  30.0  54000.0        No
3    Spain  38.0  61000.0        No
4  Germany  40.0      NaN       Yes

In [6]:
dataset.isnull().sum()

Country      0
Age          1
Salary       1
Purchased    0
dtype: int64

In [7]:
dataset.shape

(9, 4)

In [8]:
dataset['Salary'] = dataset['Salary'].fillna(dataset['Salary'].mean())

In [9]:
dataset.isnull().sum()

Country      0
Age          1
Salary       0
Purchased    0
dtype: int64

In [10]:
dataset = dataset.dropna()
dataset.isnull().sum()

Country      0
Age          0
Salary       0
Purchased    0
dtype: int64

In [11]:
x = dataset.iloc[:, :-1]
y = dataset.iloc[:, 2]

In [12]:
x

   Country   Age   Salary
0   France  44.0  72000.0
1    Spain  27.0  48000.0
2  Germany  30.0  54000.0
3    Spain  38.0  61000.0
4  Germany  40.0  65250.0
5   France  35.0  58000.0
6   France  48.0  79000.0
7  Germany  50.0  83000.0

In [13]:
y

0    72000.0
1    48000.0
2    54000.0
3    61000.0
4    65250.0
5    58000.0
6    79000.0
7    83000.0
Name: Salary, dtype: float64

In [14]:
from sklearn.preprocessing import LabelEncoder

# Create the LabelEncoder
labelEncoder_X = LabelEncoder()

# Apply the encoder to a specific column
x.iloc[:, 0] = labelEncoder_X.fit_transform(x.iloc[:, 0])

In [15]:
x

  Country   Age   Salary
0       0  44.0  72000.0
1       2  27.0  48000.0
2       1  30.0  54000.0
3       2  38.0  61000.0
4       1  40.0  65250.0
5       0  35.0  58000.0
6       0  48.0  79000.0
7       1  50.0  83000.0